.fade-enter {
    opacity: 0 !important;
    transform: translateX(-50px);
}
.fade-enter-active {
    opacity: 1 !important;
    transition: opacity 700ms;
    transform: translateX(0);
}
.fade-exit {
    opacity: 1 !important;
}
.fade-exit-active {
    opacity: 0 !important;
    transition: opacity 700ms;
}