.main-layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;

  .sidebar-container {
    height: 100%;
  }

  main {
    display: grid;
    grid-template-rows: 260px auto;

    header {
      width: 100%;
    }

    section {

    }

  }

  .footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

}